.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* SUB Title */

.sub-title-hover {
  opacity: 0;
}
.sub-title-hover:hover {
  opacity: 1;
}

/* CELLS */

#treemapTitle {
  text-anchor: middle;
  fill: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}

#treemapSubTitle {
  text-anchor: middle;
  fill: white;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #000;
}
