.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#treemapTitle {
  text-anchor: middle;
  cursor: default;
  fill: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}

.sectorTitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 0 2px;
  line-height: 1;
}
